server:
  port: 8080

spring:
  datasource:
    username: postgres
    password: 1106
    url: jdbc:postgresql://localhost:5432/digital_shop_db
    driver-class-name: org.postgresql.Driver
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQL94Dialect

  mail:
    host: smtp.gmail.com
    port: 587
    username: elmurodov1106@gmail.com
    password: rehixeessiscctor
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    resources:
      static-locations: classpath:/static/

jwt:
  secret:
    key: 753778214125442A472D4B6150645367566B59703373367639792F423F45284839792F423F4528487566B597033778214125442A472D4B6150
  access:
    expiry: 30000000000
