#form {
    background-color: #EEF7F1;
}

#Kategori {
    height: 38px;
    border: 1px solid #CED4D9;
    border-radius: 3px;
}

#ekleButton:hover {
    box-shadow: -1px 1px 17px 0px rgba(0,0,0,0.75);
}



li {
    margin-right: 3.5em;

}

li:hover {
    box-shadow: -1px 1px 17px 0px rgba(0,0,0,0.75);

}

input:hover {
    border-color: rgb(106, 161, 143);
}

#loginform {
    border: 10px solid gray;
    background-color: rgb(199, 194, 194);
    opacity: 0.8;
}

#adminbody {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(89,44,111,1) 46%, rgba(98,29,93,1) 98%);
}

#invalidlogin {
    display: none;
}
#loginbutton {
    position: absolute;
    left: 44.5%;
    top: 430px;
}
/* .navbar {
    background-color: rgb(197, 216, 175);
    height: 85px;
} */

/* ul {
    list-style: none;
}

li {
    margin-top: 12px;
    display: inline-block;
    padding-left: 2em;
    text-align: center;
}
li a {
    font-size: larger;
    color: black;
    text-decoration: none;
    border: 1px solid grey;
    border-radius: 0.5em;
    padding: 8px;
}

li a:hover {
    font-size: x-large;
}
.position {
    margin-left: 10em;
} */