<!doctype html>
<html lang="eng"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>About Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body style="background-color: #06172c"> <!--orqa fon rangi-->
<div class="complex-content" layout:fragment="body" style="display: grid; grid-template-columns: 1fr 1fr 1fr; padding-top: 75px; padding-left: 50px">

    <div
            style="display: block; max-width: 30rem; border-radius: 10px; background-color: #0f3460; text-align: left; margin: 15px">
        <div style="padding: 1.25rem">
            <h1
                    style="margin-bottom: 0.25rem; color: #E0E0E0;">
                Loyiha
            </h1>
            <br>
            <p
                    style="margin-bottom: 1rem; height: 300px; color: #ffffff; font-size: 20px">
                Loyiha ancha yillar oldin reja qilingan bu proyekt hayolda ya'ni birdan evrika holatida paydo bo'lib hozirda qadamma qadam dunyoni ko'rmoqda.
                Loyiha bo'yicha kelajakda niyatlarimiz juda ko'p va bu loyihalar bo'yicha hozirda ish qizg'in davom etmoqda.
            </p>
        </div>
    </div>
    <div
            style="display: block; max-width: 30rem; border-radius: 10px; background-color: #0f3460; text-align: left; margin: 15px">
        <div style="padding: 1.25rem">
            <h1
                    style="margin-bottom: 0.25rem; color: #E0E0E0;">
                Asosiy maqsadimiz
            </h1>
            <br>
            <p
                    style="margin-bottom: 1rem; height: 300px; color: #ffffff; font-size: 20px">
                Loyihamizning asosiy maqsadi insonlar uyidan turib online tarzda bizning sayt orqali
                o'ziga kerak bo'lgan mahsulotni sotib olish imkonini berish.
                Shu bilan birga taqdim etilgan mahsulotlar sifati va yaroqliligini bildirish.
                Bundan tashqari online sayt orqali oson xarid qilishni ko'rsatish.
            </p>
        </div>
    </div>
    <div
            style="display: block; max-width: 30rem; border-radius: 10px; background-color: #0f3460; text-align: left; margin: 15px">
        <div style="padding: 1.25rem">
            <h1
                    style="margin-bottom: 0.25rem; color: #E0E0E0;">
                Manbalar
            </h1>
            <br>
            <p
                    style="margin-bottom: 1rem; height: 300px; color: #ffffff; font-size: 20px">
                digital_shop saytida taqdim etilgan mahsulotlarning barchasi uzum.uz saytida mavjud.
                Shu saytni yaratishda bizga yordam berayotgan va o'z bilimlarini biz bilan ulashayotgan barcha qo'li ochiq insonlarga
                va dasturchilar shu bilan birgalikda O'qituvchilarga kattadan katta rahmat.
                Alloh sizlardan rozi bo'lsin bunday qilinayotgan sovobli ishlaringgiz
                Vatanimiz farzandlarini yetuk mutaxassis bo'lib yetishishida ko'makchi vazifasini bajaradi degan umiddamiz.
            </p>
        </div>
    </div>
    <div
            style="display: block; max-width: 30rem; border-radius: 10px; background-color: #0f3460; text-align: left; margin: 15px">
        <div style="padding: 1.25rem">
            <h1
                    style="margin-bottom: 0.25rem; color: #E0E0E0;">
                Loyihani qo'llab quvvatlash(Donate)
            </h1>
            <br>
            <p
                    style="margin-bottom: 1rem; height: 300px; color: #ffffff; font-size: 20px">
                Loyihani qo'llab quvvatlash uchun yig'ilgan mablag'ning barchasi loyihani yanada rivojlantirishga ishlatiladi
                va har bir sarf qilingan tiyin uchun javob beramiz. UZCARD: 8600 1402 1158 5535
            </p>
        </div>
    </div>
    <div
            style="display: block; max-width: 30rem; border-radius: 10px; background-color: #0f3460; text-align: left; margin: 15px">
        <div style="padding: 1.25rem">
            <h1
                    style="margin-bottom: 0.25rem; color: #E0E0E0;">
                Xatoliklar
            </h1>
            <br>
            <p
                    style="margin-bottom: 1rem; height: 300px; color: #ffffff; font-size: 20px">
                Iltimos, platformamiz va saytda imlo xatolari bo'lsa bizni koyishga tushmang uni bizga jo'nating
                va biz u xatolikni tez orada bartaraf qilishga harakat qilamiz. Asosiysi biz barcha tanqidlarnni to'g'ri qa'bul qilamiz.
                Topilgan xatolarni bemalol izohlarda qoldirishinggiz mumkin. Barchanggizga omad Digital_shop jamoasi.
            </p>
        </div>
    </div>



</div>


</body>
</html>