<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Laptop List</title>
    <link th:href="@{/css/laptopList.css}" rel="stylesheet">
</head>
<body layout:fragment="body">
<div class="listing-section">
    <div th:each="laptop: ${laptops}">
        <div class="laptops">
            <div class="image-box">
                <div class="images" id="image-1">
                    <img th:src="'data:image/png;base64,' + ${laptop.image}" alt="Image">
                </div>
            </div>
            <div class="text-box">
                <h2 class="item" th:text="${laptop.name}">NAME</h2>
                <h3 class="price" th:text="${laptop.cost}">PRICE</h3>
                <h3 class="description" th:text="${laptop.description}">DESCRIPTION</h3>
<!--                <p class="description">A bag of delicious oranges!</p>-->
                <label for="item-1-quantity">Quantity:</label>
                <input type="text" name="item-1-quantity" id="item-1-quantity" value="1">
                <form method="get" action="/order/add">
                    <input type="hidden" name="laptopId" th:value="${laptop.id}">
                <button type="button" name="item-1-button" id="item-1-button">Add to cart</button>
                    </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>