<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link th:href="@{/css/productList.css}" rel="stylesheet">
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <script src="https://kit.fontawesome.com/3da5cff3a5.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-sm">
        <a class="navbar-brand" href="/auth/seller/menu">Seller Menu</a>
        <div class="navcontent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
                <!--                <li class="nav-item border border-2 ps-3 pe-3">-->
                <!--                    <a class="nav-link active fs-4" aria-current="page" href="#">Add Products</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item border border-2 ps-3 pe-3">-->
                <!--                    <a class="nav-link active fs-4 " aria-current="page" href="#">Update Products</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item border border-2 ps-3 pe-3">-->
                <!--                    <a class="nav-link active fs-4 " href="#" tabindex="-1" aria-disabled="true">Database</a>-->
                <!--                </li>-->

            </ul>
        </div>
        <!--        <button class="btn btn-success ps-5 pe-5 pt-2 pb-2" onclick="quit()">Quit</button>-->
    </div>
</nav>

<div class="listing-section">
    <div th:each="product: ${products}">
        <div class="product">
            <div class="image-box">
                <div class="images" id="image-1">
                    <img th:src="'data:image/png;base64,' + ${product.image}" alt="Image">
                </div>
            </div>
            <div class="text-box">
                <h2 class="item" th:text="${product.name}">Nomi</h2>
                <h3 class="price" th:text="${product.cost}">Narxi</h3>
<!--                <p class="description">A bag of delicious oranges!</p>-->
<!--                <label for="item-1-quantity">Quantity:</label>-->
<!--                <input type="text" name="item-1-quantity" id="item-1-quantity" value="1">-->
                <form method="get" action="/product/delete">
                    <input type="hidden" name="productId" th:value="${product.id}">
                    <button type="submit" name="item-1-button" id="item-1-button">Delete Product</button>
                </form>
            </div>
        </div>
    </div>

</div>

<!--<div class="cart-section">-->

<!--    <div class="table-heading">-->
<!--        <h2 class="cart-product">Product</h2>-->
<!--        <h2 class="cart-price">Price</h2>-->
<!--        <h2 class="cart-quantity">Quantity</h2>-->
<!--        <h2 class="cart-total">Total</h2>-->
<!--    </div>-->

<!--    <div class="table-content">-->
<!--        <div class="cart-product">-->
<!--            <div class="cart-image-box">-->
<!--                <div class="cart-images" id="image-10"></div>-->
<!--            </div>-->
<!--            <h2 class="cart-item">Lemon</h2>-->
<!--            <p class="cart-description">A bag of lemons</p>-->
<!--        </div>-->
<!--        <div class="cart-price">-->
<!--            <h3 class="price">$4.99</h3>-->
<!--        </div>-->
<!--        <div class="cart-quantity">-->
<!--            <input type="text" name="cart-1-quantity" id="cart-1-quantity" value="1">-->
<!--        </div>-->
<!--        <div class="cart-total">-->
<!--            <h3 class="price">$4.99</h3>-->
<!--            <button type="button" class="remove" name="remove-1" id="remove-1">x</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="table-content">-->
<!--        <div class="cart-product">-->
<!--            <div class="cart-image-box">-->
<!--                <div class="cart-images" id="image-7"></div>-->
<!--            </div>-->
<!--            <h2 class="cart-item">Banana</h2>-->
<!--            <p class="cart-description">A bag of bananas</p>-->
<!--        </div>-->
<!--        <div class="cart-price">-->
<!--            <h3 class="price">$4.99</h3>-->
<!--        </div>-->
<!--        <div class="cart-quantity">-->
<!--            <input type="text" name="cart-1-quantity" id="cart-1-quantity" value="1">-->
<!--        </div>-->
<!--        <div class="cart-total">-->
<!--            <h3 class="price">$4.99</h3>-->
<!--            <button type="button" class="remove" name="remove-2" id="remove-2">x</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="table-content">-->
<!--        <div class="cart-product">-->
<!--            <div class="cart-image-box">-->
<!--                <div class="cart-images" id="image-3"></div>-->
<!--            </div>-->
<!--            <h2 class="cart-item">Passionfruit</h2>-->
<!--            <p class="cart-description">A bag of passionfruit</p>-->
<!--        </div>-->
<!--        <div class="cart-price">-->
<!--            <h3 class="price">$4.99</h3>-->
<!--        </div>-->
<!--        <div class="cart-quantity">-->
<!--            <input type="text" name="cart-1-quantity" id="cart-1-quantity" value="1">-->
<!--        </div>-->
<!--        <div class="cart-total">-->
<!--            <h3 class="price">$4.99</h3>-->
<!--            <button type="button" class="remove" name="remove-3" id="remove-3">x</button>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="coupon">-->
<!--        <input type="text" name="coupon" id="coupon" placeholder="COUPON CODE">-->
<!--        <button type="button" name="coupon" id="coupon">Submit</button>-->
<!--    </div>-->

<!--    <div class="checkout">-->
<!--        <button type="button" name="update" id="update">Update</button>-->
<!--        <button type="button" name="checkout" id="checkout">Checkout</button>-->
<!--        <div class="final-cart-total">-->
<!--            <h3 class="price">$14.97</h3>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="keep-shopping">-->
<!--        <button type="button" name="keep-shopping" id="keep-shopping">Keep Shopping</button>-->
<!--    </div>-->

<!--</div>-->

</body>
</html>