<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Basket</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/basket.css}" />
  <script type="text/javascript" th:src="@{/js/basket.js}"></script>
</head>
<body>
<div id="container" layout:fragment="body">
  <div th:if="${not #strings.isEmpty(message)}">
    <div th:text="${message}" class="error-message"></div>
    <p>Debug: Message is not empty: <span th:text="${message}"></span></p>
  </div>


  <div id="footer">
    <ul>
      <li>Change the amount of stuff and see the subtotal and total change</li>
      <li>Try to change the amount of items to minus amounts or 0</li>
      <li>Delete items and see the totals change</li>
    </ul>
    <hr />
    This is my first entry for this week's <a href="https://codepen.io/tag/rodeo-007">CodePen Pattern Rodeo</a>.<br />
    If you like this pen, please heart it :)
  </div>
</div>
</body>
</html>
