<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Card List</title>
</head>
<body>
<h1>Card List</h1>
<form method="post" action="/transaction/create">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="card : ${cards}">
            <td th:text="${card.name}"></td>
            <td th:text="${card.balance}"></td>
            <td>
                <label>
                    <input type="radio" name="cardId" th:value="${card.id}" required/>
                    <input type="hidden" name="orderId" th:value="${order.id}">
                    Select
                </label>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <button type="submit" th:if="${!cards.isEmpty()}">Pay</button>
        <li class="nav-item" th:if="${cards.isEmpty()}"><a href="/payment/add" class="nav-link">Card Add</a></li>
    </div>
</form>

</body>
</html>

