<!doctype html>
<html lang="eng"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Contact Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body style="background-color: #06172c"> <!--orqa fon rangi-->
<div class="complex-content" layout:fragment="body" style="display: grid; grid-template-columns: 1fr 1fr 1fr; padding-top: 75px; padding-left: 50px">
    <div
            style="display: block; max-width: 30rem; border-radius: 10px; background-color: #0f3460; text-align: left; margin: 15px">
        <div style="padding: 1.25rem">
            <h2 style="margin-bottom: 0.25rem; color: #E0E0E0;">
                Emails of participants in the project
            </h2>
            <br>
            <p style="margin-bottom: 1rem; height: 300px; color: #ffffff; font-size: 20px">
                Elmurodov Mansurbek:<a href="mailto:elmurodov@gmail.com" style="color: rgb(249, 90, 62);">elmurodov1106@gmail.com</a><br>
                Ermamatov Sardor: <a href="mailto:sardor@gmail.com" style="color: rgb(249,90,62);">sardor@gmail.com</a><br>
                Ermamatov Sardor: <a href="mailto:sardor@gmail.com" style="color: rgb(249,90,62);">sardor@gmail.com</a><br>
                Ermamatov Sardor: <a href="mailto:sardor@gmail.com" style="color: rgb(249,90,62);">sardor@gmail.com</a><br>
                Ermamatov Sardor: <a href="mailto:sardor@gmail.com" style="color: rgb(249,90,62);">sardor@gmail.com</a><br>
            </p>
        </div>
    </div>
        <div
                style="display: block; max-width: 30rem; border-radius: 10px; background-color: #0f3460; text-align: left; margin: 15px">
        <div style="padding: 1.25rem">
            <h2 style="margin-bottom: 0.25rem; color: #E0E0E0;">
                Support the project (Donate)
            </h2>
            <br>
            <p
                    style="margin-bottom: 1rem; height: 300px; color: #ffffff; font-size: 20px">
                All funds collected to support the project will be used
                to write new textbooks, and we will answer for every penny spent.
                HUMO: 9860 0801 4868 7553
            </p>
        </div>
        </div>


    </div>







</body>
</html>