<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link th:href="@{/css/profile.css}" rel="stylesheet">
  <style>
    /* Center the container horizontally and vertically */
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    /* Center the content inside the container */
    .container {
      text-align: center;
    }

    /* Add additional styles as needed to center specific elements */
  </style>
</head>
<body>
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" width="150px"
             src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
        <span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <form action="/user/update" method="POST">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h1 class="text-right">Profile Settings</h1>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">Name</label>
              <input type="text" class="form-control" placeholder="first name" name="name" th:value="${user.getName()}">
            </div>

            <div class="col-md-6"><label class="labels">Email</label><input type="email" class="form-control"
                                                                            th:value="${user.getEmail()}" name="email">
            </div>
            <div class="col-md-6">
              <label class="labels">Password</label>
              <input type="password" class="form-control" name="password" id="password-field" th:value="${user.getPassword()}">
            </div>
          </div>
          <!-- Display other user information (email, password, etc.) here -->
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
            <a class="btn btn-danger profile-button" href="/logout">Log Out</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>

