<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laptop List</title>
    <link th:href="@{/css/productList.css}" rel="stylesheet">
    <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <script src="https://kit.fontawesome.com/3da5cff3a5.js" crossorigin="anonymous"></script>
</head>
<body>
<div style="margin-top: 100px; color: #D10024; text-align: center; font-weight: bold; font-size: 20px" th:text="${message}"  class="error-message"></div>
<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="container-sm">
        <a class="navbar-brand" href="/auth/seller/menu">Seller Menu</a>
        <div class="navcontent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
                <!--                <li class="nav-item border border-2 ps-3 pe-3">-->
                <!--                    <a class="nav-link active fs-4" aria-current="page" href="#">Add Products</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item border border-2 ps-3 pe-3">-->
                <!--                    <a class="nav-link active fs-4 " aria-current="page" href="#">Update Products</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item border border-2 ps-3 pe-3">-->
                <!--                    <a class="nav-link active fs-4 " href="#" tabindex="-1" aria-disabled="true">Database</a>-->
                <!--                </li>-->

            </ul>
        </div>
        <!--        <button class="btn btn-success ps-5 pe-5 pt-2 pb-2" onclick="quit()">Quit</button>-->
    </div>


    <div class="listing-section">
        <div class="laptops">
            <div th:each="laptop: ${laptops}">
                <div class="product">
                    <div class="image-box">
                        <div class="images" id="image-1">
                            <img th:src="'data:image/png;base64,' + ${laptop.image}" alt="Image" style=" width:350px; height:200px">
                        </div>
                    </div>
                    <div class="text-box">
                        <div style="display: flex; ">
                            <p> Name:</p>
                            <h2 class="item" th:text="${laptop.name}" id="laptop-name"></h2>
                        </div>
                        <div style="display: flex; ">
                            <p>Price:$</p>
                            <h3 class="price" th:text="${laptop.cost}" id="laptop-price"></h3>
                        </div>
                        <p>Description:</p>
                        <div style="display: flex; ">
                            <h3 class="description" th:text="${laptop.description}" id="laptop-description"></h3>
                        </div>
                        <form method="get" action="/laptop/delete">
                            <input type="hidden" name="laptopId" th:value="${laptop.id}">
                            <button type="submit" name="item-1-button" id="item-1-button">Delete Laptop</button>
                        </form>

                        <form action="/laptop/update" method="get">
                            <input type="hidden" name="laptopId" th:value="${laptop.getId()}">
                            <button type="submit" class="edit-svg"> Update </button>
                        </form>


                    </div>


                </div>
            </div>
        </div>

    </div>
</nav>
</body>
</html>


