<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{sellerLayout}">
<head>
    <meta charset="UTF-8">
    <title>Seller Menu</title>
<!--    <link th:href="@{/css/seller.css}" rel="stylesheet">-->
<!--    <link th:href="@{/css/seller.css}" rel="stylesheet">-->
<!--    <script type="text/javascript" th:src="@{/js/seller.js}"></script>-->
</head>
<!--<style>-->
<!--    /* Add CSS to style your container and adjust the zoom level */-->
<!--    .seller {-->
<!--        /* Your container styles go here */-->
<!--        /* Example: */-->
<!--        width: 100%;-->
<!--        text-align: center;-->
<!--    }-->

<!--    .sellerHead {-->
<!--        /* Your header styles go here */-->
<!--        /* Example: */-->
<!--        padding: 1em;-->
<!--    }-->

<!--    /* Adjust the zoom level */-->
<!--    svg {-->
<!--        transform-origin: center;-->
<!--        transition: transform 0.3s ease; /* Add a smooth transition effect */-->
<!--    }-->

<!--    /* On hover, apply the zoom effect */-->
<!--    .sellerHead:hover svg {-->
<!--        transform: scale(1.4); /* Adjust the scale factor for zoom level */-->
<!--    }-->
<!--    /*.username {*/-->
<!--    /*    background-color: #f8f8f8; !* Background color for highlighting *!*/-->
<!--    /*    padding: 3px 6px; !* Add some padding for better visual appearance *!*/-->
<!--    /*    border-radius: 5px; !* Rounded corners *!*/-->
<!--    /*}*/-->

<!--</style>-->
<body layout:fragment="body">
<!--start of Sidebare-->
<!--<section id="sidebar">-->

<!--    <div class ="whitelable">-->
<!--        <div class="title"><a href="#">-->
<!--            <h1>Trading Analytics</h1>-->
<!--&lt;!&ndash;            <h2>Global Seller Interface</h2>&ndash;&gt;-->
<!--        </a></div>&lt;!&ndash;title&ndash;&gt;-->
<!--        &lt;!&ndash;-->
<!--            <div class="logo"><a href="#">-->
<!--             <img src="https://maxcdn.icons8.com/Share/icon/ios7/Logos//codepen1600.png" alt="logo"></a>-->
<!--             </div><-logo&ndash;&gt;-->

<!--    </div>&lt;!&ndash;&#45;&#45;&#45;&#45;whitelabel &#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--    <div class="seller">-->
<!--        <div class="sellerHead">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" height="1.2em" viewBox="0 0 448 512" style="transform: scale(1.3); margin-left: -40px;">-->
<!--                    <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/>-->
<!--                </svg>-->
<!--            <a href="#">-->
<!--                <span class="username" th:text="${user.getName()}" style="color: black; font-size: 20px; margin-left: 20px; margin-right: 10px;"></span>-->
<!--            </a>-->
<!--        </div>&lt;!&ndash; sellerHead &ndash;&gt;-->
<!--    </div>-->




<!--    <script>-->
<!--        // JavaScript for scrolling down a little when the page loads-->
<!--        window.onload = function() {-->
<!--            window.scrollBy(0, 100); // Adjust the number of pixels as needed-->
<!--        }-->
<!--    </script>-->



<!--    <div id="sidebarNav">-->
<!--        <ul class="noToplLine">-->
<!--&lt;!&ndash;            <li class="selected"><a href=""><i class="fa fa-area-chart"></i>Dashboard</li>&ndash;&gt;-->
<!--            <li><a href="#"><i class="fa fa-list-alt"></i>Products</li>-->
<!--            <li><a href="#"><i class="fa fa-pencil-square-o"></i>Orders </li>-->
<!--            <li><a href="#"><i class="fa fa-desktop"></i>Add Product</li>-->
<!--            <li><a href="#"><i class="fa fa-truck"></i>Analytics</li>-->
<!--            <li><a href="#"><i class="fa fa-credit-card"></i>Price Managerment</li>-->
<!--        </ul>-->
<!--    </div>&lt;!&ndash;&#45;&#45;sidebarNav&ndash;&gt;-->
<!--</section>&lt;!&ndash;&#45;&#45;&#45;&#45;end of sidebar&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--start of MainConent-->
<section id=content>
<!--    <div class="header">-->
<!--        <nav>-->
<!--            <ul>-->
<!--                <li> <i class="fa fa-desktop"></i>Help Center</li>-->
<!--                <li><i class="fa fa-desktop"></i>Account</li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </div>&lt;!&ndash;header&ndash;&gt;-->


<!--    <div id="box">&lt;!&ndash;tabNav+tabContent&ndash;&gt;-->
<!--        <div id="tabs">-->
<!--            <nav class="tabNav">-->
<!--                <div class="navItem active" data-tab-target="tab-1">UK Makret</div>-->

<!--                <div class="navItem" data-tab-target="tab-2">USA Market</div>-->

<!--                <div class="navItem" data-tab-target="tab-3">Europe Market</div>-->

<!--                <div class="activeBar"></div>-->
<!--            </nav>-->
<!--        </div>&lt;!&ndash;tabsHeader&ndash;&gt;-->

        <!--wrap for 3 tabcontent-->
        <section class="tabContainer" data-active-tab="tab-1">

            <div class="tabSection"><!--Start of tab1:tabsConent-->
                <div class="widgetBox">
                    <div class="widgetHeader">
                        <h2>GMV on Domestic</h2><span tooltip="More Settings" flow="down"><i class="fa fa-cog"></i></span>
                    </div><!--GMV on Domestic-->
                    <div class="widgetContent">




                        <!--doughunt-->
                        <div class="pie">
                            <div class="slice-pink"></div>
                            <div class="slice-blue"></div>
                            <div class="slice-green"></div>
                            <div class="percent">
                                <div class="number">GMV
                                    <p>Domestic</p>
                                </div>

                            </div>

                        </div><!--doughuntpie-->

                        <!--chart legend-->
                        <ul class="chartLegend">
                            <li>
                                <span class=circleBlue></span>
                                <em>Actived</em>
                            </li>
                            <li>
                                <span class=circlePink></span>
                                <em>Blocked</em>
                            </li>

                            <li>
                                <span class=circleGreen></span>
                                <em>Others</em>
                            </li>
                        </ul>
                        <!--end of chart legend-->

                    </div><!--widgetContent-->



                </div><!--widgetBox-->

                <div class="widgetBox">
                    <div class="widgetHeader">
                        <h2>Item Performance</h2><span tooltip="More Settings" flow="down"><i class="fa fa-cog"></i></span>
                    </div><!--GMV on Domestic-->
                    <div class="widgetContent">

                        <section id="bar">
                            <table id="graphBar">

                                <thead></thead>

                                <tbody>
                                <tr id="q1">
                                    <td class="uk bar q1ukbar" style="height: 150px;"><p>$18,450.00</p></td>
                                    <td class="usa bar q1usabar" style="height: 60px;"><p>$16,500.00</p></td>
                                </tr>

                                <tr id="q2">
                                    <td class="uk bar q2ukbar" style="height: 100px;"><p>$34,340.72</p></td>
                                    <td class="usa bar q2usabar" style="height: 85px;"><p>$32,340.72</p></td>
                                </tr>

                                </tbody>
                            </table>

                        </section>






                    </div><!--widgetContent-->
                </div><!--widgetBox-->

                <!--Start of table and panelHeader:container-->
                <div class="Container">
                    <div class="panel">
                        <h3 class="pullLeft">Item Activity</h3>

                        <div class="pullRight select-style">
                            <form action="">
                                <select name="" id="dropDownStyle">
                                    <option value="" data-icon="">Last 30 Days</option>
                                    <option value="" data-icon="">Last 60 Days</option>
                                </select>
                            </form>
                        </div> <!--filter-->

                    </div><!--panel-->


                    <div class="scrollTable">
                        <table class="layout pullLeft">
                            <thead>
                            <tr>
                                <th>Items</th>
                                <th>Marketplaces</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>product itemA</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                            </tr>

                            <tr>
                                <td>product itemA</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                            </tr>

                            <tr>
                                <td>product itemA</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                            </tr>

                            <tr>
                                <td>product itemA</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                            </tr>

                            <tr>
                                <td>product itemA</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                            </tr>

                            <tr>
                                <td>product itemA</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                            </tr>

                            <tr>
                                <td>product itemA</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                            </tr>

                            <tr>
                                <td>product itemA</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                                <td>UK</td>
                            </tr>
                            </tbody>
                        </table>
                    </div><!--table-->
                </div><!--End of table and panelHeader:container-->

            </div><!--end of tab1:tabsConent-->

<!--            <div class="tabSection">not available in USA-->
<!--            </div>-->
<!--            <div class="tabSection">not available in Europe-->
<!--            </div>-->
        </section> <!--end ofwrap for 3 tabcontent-->





    </div><!--end of box: tabNav+tabContent-->


</section><!--Main content-->

<footer>

</footer>


<!--
//show/hide tabsContent

$("document").ready(function(){
  $(".tabContent").hide();
  $(".tabContent:first").show();
});


//tabnav
 $('#tabs li').click(function() {
   $(".tabContent").hide();
  var activeTab = $(this).attr('rel');
   $("#"+activeTab).fadeIn();
   $('.tabSliderTrigger').removeClass('active');
   $(this).addClass('active');
});
-->
</body>
</html>
