<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>sign up</title>
  <link th:href="@{/css/sign-in.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/js/sign-in.js}"></script>
</head>

<body>
<div  layout:fragment="body">
<div class="error-message" th:text="${message}" ></div>
<section class="container">
  <div class="login-container" >
    <div class="circle circle-one"></div>
    <div class="form-container">
      <img src="https://raw.githubusercontent.com/hicodersofficial/glassmorphism-login-form/master/assets/illustration.png" alt="illustration" class="illustration" />
      <h1 class="opacity">REGISTER</h1>

      <form action="/auth/sign-up" method="post">
        <input type="text" placeholder="NAME" name="name" />
        <input type="email" placeholder="EMAIL" name="email"  />
        <input type="password" placeholder="PASSWORD" name="password"/>
        <button class="opacity" >SUBMIT</button>
      </form>
      <div class="register-forget opacity">
        <a href="/auth/sign-in" methods="get">SIGN IN</a>
      </div>
    </div>
    <div class="circle circle-two"></div>
  </div>
  <div class="theme-btn-container"></div>
</section>
</div>
</body>
</html>