<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title><!-- Online --> Shop</title>
</head>
<body>


 <div class="container">
  <header>
    <div class="row">
      <div class="col-3 d-none d-lg-block">
        <h5> Welcome to our store </h5>

      </div>



      <div class = "col-3 d-none d-lg-block">
        <h5> Telephone: 2222582 </h5>
      </div>




      <!--     <div class="input-group mb-3">
        <div class="input-group-prepend">
        </div> -->
      <div class = "col-6 col-lg-2">
        <select class="custom-select" id="inputGroupSelect01">
          <option selected>EN</option>
          <option value="1">ՀԱՅ</option>
          <option value="2">РУС</option>

        </select>
      </div>
      <div class = "col-6 col-lg-2">

        <select class="custom-select" id="inputGroupSelect01">
          <option selected>$</option>
          <option value="1">֏</option>
          <option value="2">₽</option>

        </select>
      </div>
      <div class = "col-2 d-none d-lg-block">

        <button type="button" class="btn btn-primary" >
          Whistlist <span class="badge badge-light">78+</span>
        </button></div></div>


    <!-- <img src = "https://res.cloudinary.com/deyrbbjpy/image/upload/v1595156372/Online%20shopping/Online_rmk94u.jpg" style = "width:200px;margin-right:2000px;"> -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class = "col-5">
        <img src = "https://res.cloudinary.com/deyrbbjpy/image/upload/v1595156372/Online%20shopping/Online_rmk94u.jpg" width = "125px;">
      </div>
      <div class = "col-5 d-none d-lg-block">



        </ul>
        <form class="form-inline my-2 my-lg-0" >
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>



      <div class="dropdown col-4 col-lg-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Account
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

          <button class="dropdown-item" type="button" data-toggle="modal" data-target="#loginModal">Login</button>


          <button class="dropdown-item" type="button" data-toggle="modal" data-target="#registerModal">Register</button>


          <button class="dropdown-item" type="button">My Orders</button>
          <button class="dropdown-item" type="button">Account Settings</button>
        </div>
      </div>


      </form>
 </div>
</nav>


<!--     <nav class="navbar navbar-light" style="background-color: blueviolet; width:1000px; height:70px; margin-left:80px;">


  <div class="dropdown ">
          <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Clothes
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Men's wear</a>
    <a class="dropdown-item" href="#">Women's wear</a>
    <a class="dropdown-item" href="#">Kid's wear</a>
  </div>
</div>

 <div class="dropdown ">
          <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Computer Technique
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Computers</a>
    <a class="dropdown-item" href="#">Laptops</a>
    <a class="dropdown-item" href="#">Macbook</a>
  </div>
</div>


<div class="dropdown ">
          <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Phones
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Huawei</a>
    <a class="dropdown-item" href="#">Xiaomi</a>
    <a class="dropdown-item" href="#">Iphone</a>
    <a class="dropdown-item" href="#">Samsung</a>
    <a class="dropdown-item" href="#">Nokia</a>
    <a class="dropdown-item" href="#">Lenovo</a>
  </div>
</div>


 <div class="dropdown ">
          <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Game Console
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <a class="dropdown-item" href="#">PS3</a>
    <a class="dropdown-item" href="#">PS4</a>
    <a class="dropdown-item" href="#">PS5</a>
    <a class="dropdown-item" href="#">Xbox360</a>
    <a class="dropdown-item" href="#">Xbox One</a>
    <a class="dropdown-item" href="#">Xbox Series X</a>

  </div>
 </div>


<div class="dropdown ">
          <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Computer Equipment
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <a class="dropdown-item" href="#">Microphone</a>
    <a class="dropdown-item" href="#">Headphones</a>
    <a class="dropdown-item" href="#">Keyboard</a>
    <a class="dropdown-item" href="#">Speakers</a>
    <a class="dropdown-item" href="#">Screen</a>
    <a class="dropdown-item" href="#">Computer Mouse</a>
    <a class="dropdown-item" href="#">Mouse Pad</a>

  </div>
</div>


<div class="dropdown ">
          <button class="btn " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
     <a class="dropdown-item" href="#">BMW</a>
    <a class="dropdown-item" href="#">Mercedes Benz</a>
    <a class="dropdown-item" href="#">Audi</a>
    <a class="dropdown-item" href="#">Porsche</a>
    <a class="dropdown-item" href="#">Toyota</a>
    <a class="dropdown-item" href="#">Nissan</a>
    <a class="dropdown-item" href="#">Honda</a>
    <a class="dropdown-item" href="#">Hyundai</a>
    <a class="dropdown-item" href="#">Peugeot</a>

  </div>
</div>

  </nav>
      </div>
  </header> -->
<!--  style = "width:930px;   margin-left:120px;"  -->


<!--  <div class="container" >
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="navbar-collapse collapse" id="navbarNavDropdown">
       <div class="navbar-nav">
         <div class="nav-item dropdown col">
           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
              Clothes
           </a>
           <div class="dropdown-menu">
             <a class="dropdown-item" href="#">Men's wear</a>
             <a class="dropdown-item" href="#">Women's wear</a>
             <a class="dropdown-item" href="#">Kid's wear</a>
           </div>
         </div>

         <div class="nav-item dropdown col">
           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
           Computer Technique
           </a>
           <div class="dropdown-menu">
             <a class="dropdown-item" href="#">Computers</a>
             <a class="dropdown-item" href="#">Laptops</a>
             <a class="dropdown-item" href="#">Macbook</a>
           </div>
         </div>

       <div class="nav-item dropdown col">
           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
          Phones
           </a>
           <div class="dropdown-menu">
             <a class="dropdown-item" href="#">Huawei</a>
   <a class="dropdown-item" href="#">Xiaomi</a>
   <a class="dropdown-item" href="#">Iphone</a>
   <a class="dropdown-item" href="#">Samsung</a>
   <a class="dropdown-item" href="#">Nokia</a>
   <a class="dropdown-item" href="#">Lenovo</a>
           </div>
         </div><div class="nav-item dropdown col">
           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
            Game Console
           </a>
           <div class="dropdown-menu">
             <a class="dropdown-item" href="#">PS3</a>
   <a class="dropdown-item" href="#">PS4</a>
   <a class="dropdown-item" href="#">PS5</a>
   <a class="dropdown-item" href="#">Xbox360</a>
   <a class="dropdown-item" href="#">Xbox One</a>
   <a class="dropdown-item" href="#">Xbox Series X</a>
           </div>
         </div>

       <div class="nav-item dropdown col">
           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
             Computer Equipment
           </a>
           <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Microphone</a>
   <a class="dropdown-item" href="#">Headphones</a>
   <a class="dropdown-item" href="#">Keyboard</a>
   <a class="dropdown-item" href="#">Speakers</a>
   <a class="dropdown-item" href="#">Screen</a>
   <a class="dropdown-item" href="#">Computer Mouse</a>
   <a class="dropdown-item" href="#">Mouse Pad</a>
           </div>
         </div>

       <div class="nav-item dropdown col">
           <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="false" aria-expanded="true">
           Cars
           </a>
           <div class="dropdown-menu">
              <a class="dropdown-item" href="#">BMW</a>
   <a class="dropdown-item" href="#">Mercedes Benz</a>
   <a class="dropdown-item" href="#">Audi</a>
   <a class="dropdown-item" href="#">Porsche</a>
   <a class="dropdown-item" href="#">Toyota</a>
   <a class="dropdown-item" href="#">Nissan</a>
   <a class="dropdown-item" href="#">Honda</a>
   <a class="dropdown-item" href="#">Hyundai</a>
   <a class="dropdown-item" href="#">Peugeot</a>



           </div>
         </div>
       </div>
     </div>


   </nav>

 </div> -->


<div class = "container">
  <nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Clothes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="#">Men's wear</a>
            <a class="dropdown-item" href="#">Women's wear</a>
            <a class="dropdown-item" href="#">Kid's wear</a>

        </li>
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">

            Computer Technique

          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="#">Computers</a>
            <a class="dropdown-item" href="#">Laptops</a>
            <a class="dropdown-item" href="#">Macbook</a>

        </li>
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Phones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Xiaomi</a>
            <a class="dropdown-item" href="#">Iphone</a>
            <a class="dropdown-item" href="#">Samsung</a>
            <a class="dropdown-item" href="#">Nokia</a>
            <a class="dropdown-item" href="#">Lenovo</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Game Console
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="#">PS3</a>
            <a class="dropdown-item" href="#">PS4</a>
            <a class="dropdown-item" href="#">PS5</a>
            <a class="dropdown-item" href="#">Xbox360</a>
            <a class="dropdown-item" href="#">Xbox One</a>
            <a class="dropdown-item" href="#">Xbox Series X</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Computer Equipment
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Microphone</a>
            <a class="dropdown-item" href="#">Headphones</a>
            <a class="dropdown-item" href="#">Keyboard</a>
            <a class="dropdown-item" href="#">Speakers</a>
            <a class="dropdown-item" href="#">Screen</a>
            <a class="dropdown-item" href="#">Computer Mouse</a>
            <a class="dropdown-item" href="#">Mouse Pad</a>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false">
            Cars
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <a class="dropdown-item" href="#">BMW</a>
            <a class="dropdown-item" href="#">Mercedes Benz</a>
            <a class="dropdown-item" href="#">Audi</a>
            <a class="dropdown-item" href="#">Porsche</a>
            <a class="dropdown-item" href="#">Toyota</a>
            <a class="dropdown-item" href="#">Nissan</a>
            <a class="dropdown-item" href="#">Honda</a>
            <a class="dropdown-item" href="#">Hyundai</a>
            <a class="dropdown-item" href="#">Peugeot</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>


  </header>
  <br>

  <div class = "container">
    <div class=" row alert alert-warning alert-dismissible fade show" role="alert"  style = "background-color:bisque;">
      <strong></strong> Կարող եք օգտվել մեր այլ խանութներից
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class = "container">
      <div class = "row">
        <div class="card col-12 col-md-5 col-lg-3" >
          <img src="https://www.notebookcheck-ru.com/uploads/tx_nbc2/MicrosoftSurfaceLaptop3-15__1__02.JPG" class="img-fluid" alt="Responsive image" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Microsoft Surface Laptop 3 15, i7-1065G7</h5>
            <p class="card-text">The Surface Laptop 3 15 is a 15-inch premium laptop you can't ignore; it's remarkably built and an attractive bit of kit. The AMD Ryzen processor options tackle everyday tasks with ease, but this isn't a device for high-end design work or gaming, while the battery performance is a major let down.</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>


        <div class="card col-12 col-md-5 col-lg-3" >
          <img src="https://s3.eu-central-1.amazonaws.com/huaweiarmenia/images/product_image/1646f7d19996221f1f919c8f313c487c.jpg" class="img-fluid" alt="Responsive image" class="card-img-top" alt="..." style = "width:120px;">
          <div class="card-body">
            <h5 class="card-title">HUAWEI P30</h5>
            <p class="card-text">Brighter, wider and closer. See the world from new perspectives. Discover the unseen surprises and turn them into your treasured memories. The HUAWEI P30 is pushing the envelope of smartphone photography.
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>


        <div class="card col-12 col-md-5 col-lg-3" >
          <img src="https://resource.logitechg.com/content/dam/gaming/en/products/g935/g935-hero.png " class="img-fluid" alt="Responsive image" alt="..." style = "width:220px;">
          <div class="card-body">
            <h5 class="card-title">G935 Wireless 7.1 Surround Sound LIGHTSYNC Gaming Headset</h5>
            <p class="card-text">The G935 gives you the best of both worlds with the ability to play over a wireless or wired network. Play on a 2.4 GHz wireless network for up to 12 hours per charge without lighting or 8 hours with default lighting
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>


        <div class="card col-12 col-md-5 col-lg-3" >
          <img src="https://yerevanmobile.am/wp-content/uploads/2019/03/1.jpg " class="img-fluid" alt="Responsive image" alt="..." >
          <div class="card-body">
            <h5 class="card-title">PS4</h5>
            <p class="card-text"> The PlayStation 4 (officially abbreviated as PS4) is an eighth-generation home video game console developed by Sony Computer Entertainment.
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>



        <div class="card col-12 col-md-5 col-lg-3" >
          <img src="https://hyperpc.ru/images/product/lumen/teaser/hyperpc-lumen-plus-teaser-3.jpg" class="img-fluid" alt="Responsive image" alt="..." style = "width:250px;">
          <div class="card-body">
            <h5 class="card-title">HYPERC LUMEN PLUS</h5>
            <p class="card-text"> HYPERPC LUMEN will bring to life any graphic settings, creative projects and allow you to experience the technologies of the future today.
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>


        <div class="card col-12 col-md-5 col-lg-3" >
          <img src="https://www.major-auto.ru/cars_images/1197402/2D/preview/1197402_1_6909014_11769254.JPG" class="img-fluid" alt="Responsive image" alt="..." style = "width:250px;" >
          <div class="card-body"  >
            <h5 class="card-title">Mercedes-Benz W222</h5>
            <p class="card-text"> The Mercedes-Benz W222 is the version of the Mercedes-Benz S-Class produced since 2013, and the successor of the Mercedes-Benz W221. The W222 was designed during 2009.
            </p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>

      </div></div>

    <div class = "hr" style = "border: none; background-color: coral;  height: 8px;"><hr></div>

    <div class="alert alert-dark text-uppercase text-center col-12" style = "background-color:darkgrey" role="alert">
      Categories
    </div>

    <div class = "row">
      <div class="card col-6 col-lg-4">
        <img src="https://as2.ftcdn.net/jpg/01/03/11/83/500_F_103118362_BuXlwD2uVFV5knkGJ21viJTgYvP1MKsO.jpg" class="card-img-top img-fluid d-none d-lg-block "  alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>



          <div class="dropdown" >
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clothes
            </a>

            <div class="dropdown-menu col-6 col-lg-4 " aria-labelledby="dropdownMenuLink" style = "background-color:aquamarine;">

              <a class="dropdown-item" href="#">Men's wear</a>
              <a class="dropdown-item" href="#">Women's wear</a>
              <a class="dropdown-item" href="#">Kid's wear</a>

            </div>
          </div>
        </div>
      </div>


      <div class="card col-6 col-lg-4">
        <img src="https://i.pinimg.com/564x/ee/6e/41/ee6e4183e69eac5d1ab294c3b18ca43e.jpg"   class="card-img-top img-fluid d-none d-lg-block " alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>


          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Computer Technique
            </a>

            <div class="dropdown-menu col-6 col-lg-4 " aria-labelledby="dropdownMenuLink" style = "background-color:aquamarine;">

              <a class="dropdown-item" href="#">Computers</a>
              <a class="dropdown-item" href="#">Laptops</a>
              <a class="dropdown-item" href="#">Macbook</a>

            </div>
          </div>
        </div>
      </div>



      <div class="card col-6 col-lg-4">
        <img src="https://grifus.am/wp-content/uploads/2019/06/Samsung-Galaxy-A60.jpg" class="card-img-top img-fluid d-none d-lg-block " alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>


          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Phones
            </a>

            <div class="dropdown-menu col-6 col-lg-4 " aria-labelledby="dropdownMenuLink" style = "background-color:aquamarine;">

              <a class="dropdown-item" href="#">Xiaomi</a>
              <a class="dropdown-item" href="#">Iphone</a>
              <a class="dropdown-item" href="#">Samsung</a>
              <a class="dropdown-item" href="#">Nokia</a>
              <a class="dropdown-item" href="#">Lenovo</a>

            </div>
          </div>
        </div>
      </div>



      <div class="card col-6 col-lg-4">
        <img src="https://cdn2.from.ae/media/catalog/product/cache/image/9df78eab33525d08d6e5fb8d27136e95/0/1/01_150_77.jpg "  class="card-img-top img-fluid d-none d-lg-block " alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>


          <div class="dropdown" >
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Game Console
            </a>

            <div class="dropdown-menu col-6 col-lg-4 " aria-labelledby="dropdownMenuLink" style = "background-color:aquamarine;">


              <a class="dropdown-item" href="#">PS3</a>
              <a class="dropdown-item" href="#">PS4</a>
              <a class="dropdown-item" href="#">PS5</a>
              <a class="dropdown-item" href="#">Xbox360</a>
              <a class="dropdown-item" href="#">Xbox One</a>
              <a class="dropdown-item" href="#">Xbox Series X</a>


            </div>
          </div>
        </div>
      </div>



      <div class="card col-6 col-lg-4">
        <img src="https://sc02.alicdn.com/kf/Hf5499a08e7cd4410890fae838c119290D.jpg"  class="card-img-top img-fluid d-none d-lg-block " alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>


          <div class="dropdown" >
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Computer Equipment
            </a>

            <div class="dropdown-menu col-6 col-lg-4 " aria-labelledby="dropdownMenuLink" style = "background-color:aquamarine;">

              <a class="dropdown-item" href="#">Microphone</a>
              <a class="dropdown-item" href="#">Headphones</a>
              <a class="dropdown-item" href="#">Keyboard</a>
              <a class="dropdown-item" href="#">Speakers</a>
              <a class="dropdown-item" href="#">Screen</a>
              <a class="dropdown-item" href="#">Computer Mouse</a>
              <a class="dropdown-item" href="#">Mouse Pad</a>



            </div>
          </div>
        </div>
      </div>

      <div class="card col-6 col-lg-4">
        <img src="https://i.pinimg.com/564x/f7/78/16/f7781658bff4f26380ee8dbd6cdf2ff4.jpg"  class="card-img-top d-none img-fluid d-lg-block  " alt="...">
        <div class="card-body">
          <h5 class="card-title"></h5>


          <div class="dropdown" style =  >
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cars
            </a>

            <div class="dropdown-menu col-6 col-lg-4 " aria-labelledby="dropdownMenuLink" style = "background-color:aquamarine;">


              <a class="dropdown-item" href="#">BMW</a>
              <a class="dropdown-item" href="#">Mercedes Benz</a>
              <a class="dropdown-item" href="#">Audi</a>
              <a class="dropdown-item" href="#">Porsche</a>
              <a class="dropdown-item" href="#">Toyota</a>
              <a class="dropdown-item" href="#">Nissan</a>
              <a class="dropdown-item" href="#">Honda</a>
              <a class="dropdown-item" href="#">Hyundai</a>
              <a class="dropdown-item" href="#">Peugeot</a>


            </div>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class = "hr" style = "border: none; background-color: coral;  height: 8px;"><hr></div>

    <div class="alert alert-dark text-uppercase text-center col-12" style = "background-color:darkgrey" role="alert">
      New Discounts
    </div>

    <div class = "row ">


      <div class="card col-12 col-lg-2" >
        <img src="https://media.ed.edmunds-media.com/nissan/kicks/2018/oem/2018_nissan_kicks_4dr-hatchback_sr_fq_oem_4_1600.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Nissan Kicks</h5>
          <p class="card-text" style = "font-size:25px;color:black"> $16,870</p>
          <p class="card-text" style = "font-size:20px;color:black"> $18,870</p>
          <p class = "card-text" style = "width:5px; color:red; display:flex; margin-top:-50px;"> ___________ </p>
          <a href="#" class="btn btn-primary">Add to cart</a>

        </div>
      </div>


      <div class="card col-12 col-lg-2" >
        <img src="https://applestore.am/wp-content/uploads/2019/09/30045442b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Iphone 11  Pro</h5>
          <p class="card-text" style = "font-size:25px;color:black"> $800</p>
          <p class="card-text" style = "font-size:20px;color:black"> $999</p>
          <p class = "card-text" style = "width:5px; color:red; display:flex; margin-top:-50px;"> _______</p>
          <a href="#" class="btn btn-primary">Add to cart</a>

        </div>
      </div>


      <div class="card col-12 col-lg-2" >
        <img src="https://images-na.ssl-images-amazon.com/images/I/712QEtpe4JL._AC_SL1500_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Logitech G332 SE Headset </h5>
          <p class="card-text" style = "font-size:25px;color:black"> $48,99</p>
          <p class="card-text" style = "font-size:20px;color:black"> $58,99</p>
          <p class = "card-text" style = "width:5px; color:red; display:flex; margin-top:-50px;"> __________</p>
          <a href="#" class="btn btn-primary">Add to cart</a>

        </div>
      </div>


      <div class="card col-12 col-lg-2" >
        <img src="https://images-na.ssl-images-amazon.com/images/I/616bmlJC3rL._AC_SL1000_.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> VersionTECH. Wired Gaming Mouse</h5>
          <p class="card-text" style = "font-size:25px;color:black"> $10,99</p>
          <p class="card-text" style = "font-size:20px;color:black"> $12,99</p>
          <p class = "card-text" style = "width:5px; color:red; display:flex; margin-top:-50px;"> __________</p>
          <a href="#" class="btn btn-primary">Add to cart</a>

        </div>
      </div>


      <div class="card col-12 col-lg-2" >
        <img src="https://www.rlmedia.io/is/image/PoloGSI/s7-1350428_lifestyle?$plpDeskRF$" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">The Iconic Mesh Polo Shirt</h5>
          <p class="card-text" style = "font-size:25px;color:black"> $69,50</p>
          <p class="card-text" style = "font-size:20px;color:black"> $89,50</p>
          <p class = "card-text" style = "width:5px; color:red; display:flex; margin-top:-50px;"> __________</p>
          <a href="#" class="btn btn-primary">Add to cart</a>

        </div>
      </div>


      <div class="card col-12 col-lg-2" >
        <img src="https://imgaz1.staticbg.com/thumb/large//oaupload/ser1/banggood/images/95/76/841501c8-34bd-43c7-a9db-7761640100e3.jpg.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Womier K66 66Key Tyce-C Wired</h5>
          <p class="card-text" style = "font-size:25px;color:black"> $52,99</p>
          <p class="card-text" style = "font-size:20px;color:black"> $67,97</p>
          <p class = "card-text" style = "width:5px; color:red; display:flex; margin-top:-50px;"> __________</p>
          <a href="#" class="btn btn-primary">Add to cart</a>

        </div>
      </div>
    </div>

    <div class = "hr" style = "border: none; background-color: coral;  height: 8px;"><hr></div>
    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center" >
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>

  </div>

  <div class = "container">
    <div class = "row">


      <a href="#" class="list-group-item list-group-item-action text-uppercase font-weight-bold text-center  col-sm-12 col-lg-3">CONTACT US</a>
      <a href="#" class="list-group-item list-group-item-action text-uppercase font-weight-bold text-center col-sm-12 col-lg-3">LIVE CHAT</a>
      <a href="#" class="list-group-item list-group-item-action text-uppercase font-weight-bold text-center col-sm-12 col-lg-3">SHIPPING</a>
      <a href="#" class="list-group-item list-group-item-action text-uppercase font-weight-bold text-center col-sm-12 col-lg-3">TEAM & CONDITIONS</a>

    </div>

    <div class = "row">

      <div class = "col-lg d-none d-lg-block col pr-0 border">
        <div class="list-group">
          <h5 class = "text-uppercase"> Group 1 </h5>
          <a href = "#" class = "list-group-item-action">Link 1</a>
          <a href = "#" class = "list-group-item-action">Link 2</a>
          <a href = "#" class = "list-group-item-action">Link 3</a>
        </div></div>

      <div class = "col-lg d-none d-lg-block border">
        <div class = "list-group">

          <h5 class = "text-uppercase"> Group 2 </h5>
          <a href = "#" class = "list-group-item-action">Link 1</a>
          <a href = "#" class = "list-group-item-action">Link 2</a>
          <a href = "#" class = "list-group-item-action">Link 3</a>
        </div> </div>

      <div class = "col-lg d-none d-lg-block border">
        <div class = "list-group">

          <h5 class = "text-uppercase"> Group 3 </h5>
          <a href = "#" class = "list-group-item-action">Link 1</a>
          <a href = "#" class = "list-group-item-action">Link 2</a>
          <a href = "#" class = "list-group-item-action">Link 3</a>
        </div> </div>


      <div class = "col-lg d-none d-lg-block border">
        <div class = "list-group">


          <h5 class = "text-uppercase"> Group 4 </h5>
          <a href = "#" class = "list-group-item-action">Link 1</a>
          <a href = "#" class = "list-group-item-action">Link 2</a>
          <a href = "#" class = "list-group-item-action">Link 3</a>
        </div> </div>



      <div class = "col-lg d-none d-lg-block border">
        <div class = "list-group">


          <h5 class = "text-uppercase"> Group 5 </h5>
          <a href = "#" class = "list-group-item-action">Link 1</a>
          <a href = "#" class = "list-group-item-action">Link 2</a>
          <a href = "#" class = "list-group-item-action">Link 3</a>
        </div> </div>
    </div>

    <div class="row bg-dark text-white" >
      <div class="m-0 col-sm-12 col-lg-4 mt-sm-1 my-lg-4">
        <nav class="navbar navbar-dark bg-dark">
          <div class="d-flex align-items-baseline mx-3">

            <a href = "https://www.facebook.com"><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png" width = "30px;">


              <a href = "https://www.instagram.com/?hl=ru"><img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/768px-Instagram_icon.png" width = "30px;">
                <a href = "https://twitter.com/explore">
                  <img src = "https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-11-512.png" width = "50px;">

                  <a href = "https://www.youtube.com">
                    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/640px-YouTube_full-color_icon_%282017%29.svg.png" width = "30px;">

          </div>
          <a href = "https://tumo.org" ><h5 col-xl-12 > Tumo Center For Ccreative Technologies</h5></a>
        </nav>
      </div>
    </div>
  </div>



  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form>

            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>


        </div>

      </div>
    </div>
  </div>


  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Register</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


          <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="First name">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Last name">
              </div>
            </div>
          </form>


          <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
          </form>


        </div>

      </div>
    </div>
  </div>





  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
