<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
  <link th:href="@{/css/productList.css}" rel="stylesheet">
  <!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
  <script src="https://kit.fontawesome.com/3da5cff3a5.js" crossorigin="anonymous"></script>
</head>
<body layout:fragment="body">
<div  class="boxes">

<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-sm">
<!--    <a class="navbar-brand" href="/auth/seller/menu">Seller Menu</a>-->
    <div class="navcontent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center">
        <!--                <li class="nav-item border border-2 ps-3 pe-3">-->
        <!--                    <a class="nav-link active fs-4" aria-current="page" href="#">Add Products</a>-->
        <!--                </li>-->
        <!--                <li class="nav-item border border-2 ps-3 pe-3">-->
        <!--                    <a class="nav-link active fs-4 " aria-current="page" href="#">Update Products</a>-->
        <!--                </li>-->
        <!--                <li class="nav-item border border-2 ps-3 pe-3">-->
        <!--                    <a class="nav-link active fs-4 " href="#" tabindex="-1" aria-disabled="true">Database</a>-->
        <!--                </li>-->

      </ul>
    </div>
    <!--        <button class="btn btn-success ps-5 pe-5 pt-2 pb-2" onclick="quit()">Quit</button>-->
  </div>


</nav>

<div class="listing-section">
  <div class="laptops">
    <div th:each="product: ${products}">
      <div class="product">
        <div class="image-box">
          <div class="images" id="image-1">
            <img th:src="'data:image/png;base64,' + ${product.image}" alt="Image"  style=" width:350px; height:200px">
          </div>
        </div>
        <div class="text-box">
          <div style="display: flex; ">
            <p> Name:</p>
            <h2 class="item" th:text="${product.name}" id="product-name"></h2>
          </div>
          <div style="display: flex; ">
            <p>Price:$</p>
            <h3 class="price" th:text="${product.cost}" id="product-price"></h3>
          </div>
          <p>Description:</p>
          <div style="display: flex; ">
            <h3 class="description" th:text="${product.getDescription()}" id="product-description"></h3>
          </div>
          <form  action="/order/add" method="post">
            <input type="hidden" name="productId" th:value="${product.id}">
            <div>
              <label for="amount">Amount: </label>
              <input type="number" name="amount" id="amount" min="1">
            </div>
            <input type="hidden" name="cost" th:value="${product.cost}">
            <!--              <input type="hidden" name="userId" th:value="">-->
            <button type="submit" name="item-1-button" id="item-1-button"> Add Basket</button>
          </form>

          <!--            <form action="/product/update" method="get">-->
          <!--              <input type="hidden" name="productId" th:value="${product.getId()}">-->
          <!--              <button type="submit" class="edit-svg"> Update </button>-->
          <!--            </form>-->

        </div>


      </div>
    </div>
  </div>

</div>
</div>
</body>
</html>


